
<footer class="bg-dark text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase text-light">Fale Conosco</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-light">Política de Troca e Devolução</a>
          </li>
          <li>
            <a href="#!" class="text-light">Politica de Privacidade</a>
          </li>
          <li>
            <a href="#!" class="text-light">Trabalhe Conosco</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0 text-light">Atendimento</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-light">Minha Conta</a>
          </li>
          <li>
            <a href="#!" class="text-light">Perguntas Frequentes</a>
          </li>
          <li>
            <a href="#!" class="text-light">Serviços Ao Cliente</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase text-light">Institucional</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-light">Sobre nós</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Politica de Privacidade</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(250, 246, 246, 0.74);">
    © 2020 Copyright:
      Elton / Fernando /Guilherme
  </div>
  <!-- Copyright -->
</footer>
