
<div class="container main-container my-4">

  <header class="jumbotron my-4 col-md-6 offset-3">
    <h1 class="display-3">Faça seu Login</h1>
  </header>


  <form>
    <div class="mb-3 col-md-6 offset-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 col-md-6 offset-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 col-md-6 offset-3">
      <button type="submit" class=" btn btn-primary col-md-12">Submit</button>
    </div>
  </form>

</div>

<br>

